body {
    font-family:arial, helvetica, sans-serif;
}

table {
    width:80%;
    border-collapse:collapse;
}

td.header {
    font-weight:bold;
    color:gray;
}

th {
    border: solid 1px gray;
    padding: 10px;
}

td {
    border: solid 1px gray;
    padding: 10px;
}

.code {
    font-family:monospace;
    white-space:pre-wrap;
    color:green;
}