/*General, high level styling*/

*{
    color:black;
    font-family:sans-serif /* ;
   background-color:#fdf8e5*/
}

RESEARCHNOTE{
    display:none;
    background-color:#FBEFEF;
    color:#663366;
    font-family:Arial, Helvetica, sans-serif;
    font-size:smaller;
    margin:0%;
    padding:0%;
}


#comment{
    display:none

} /*check syntax*/

/*Header styling*/


CWRCHEADER,
FILEDESC,
DOCTITLE,
DOCAUTHOR
{
    display:list-item
}

FILEDESC{
    content:url(http://cwrc.ca/templates/images/CWRC_logo.png);
    background-color:#B8B891;
    color:#555;
    font-weight:normal;
}
DOCTITLE{
    font-variant:small-caps;
    font-size:x-large;
    font-weight:bold;
}
DOCAUTHOR{
    font-weight:bold
}
PUBLICATIONSTMT,
SOURCEDESC,
REVISIONDESC,
RESPONSIBILITY{
    display:none
}

/*High-level body styling*/

ENTRY{
    display:block;
    margin-left:3%
    margin-right:3%
}

P,
LISTBIBCIT{
    line-height:150%
}

HEADING{
    display:block;
    font-weight:bold;
    color:brown;
    padding-bottom:12pt
}

HEADING[SUBTYPE = "1"]{
    font-size:3em;
    text-align:center;
    padding-top:1em
}

HEADING[SUBTYPE = "2"]{
    font-size:2em;
    padding-bottom:1%;
    margin-bottom:1%;
    border-bottom:solid;
    padding-top:2%;
    border-color:black
}

HEADING[SUBTYPE = "3"]{
    font-size:1.5em;
    padding-left:4%;
    padding-top:1em;
    padding-bottom:0.5em
}

TEXTSCOPE HEADING[SUBTYPE = "3"]
{
    padding-left:0%
}

HEADING[SUBTYPE = "4"]{
    font-size:1em;
    /*padding-left:4%;*/
    padding-top:1em;
    padding-bottom:0.2em
}


/*Figures styling*/

FIGURE{
    display:block;
    text-align:center;
    border:thin solid white;
    margin:0.5em;
    padding:0.5em  
}



/*Mid-level body styling*/

ENTRY PERSONNAME,
ENTRY BIRTH,
ENTRY RESIDENCEANDMOBILITY,
ENTRY CULTURALFORMATION,
ENTRY PRODUCTION,
ENTRY FAMILY,
ENTRY RECEPTION,
ENTRY OCCUPATION,
ENTRY EDUCATION,
ENTRY OTHERLIFEEVENT,
ENTRY TEXTSCOPE
{
    display:block;
    margin-left:4%;
}

TEXTSCOPE PRODUCTION,
TEXTSCOPE RECEPTION
{
    display:block;
    margin-left:0%
}

PERSONNAME P BIRTHNAME,
BIRTHNAME GIVEN,
BIRTHNAME SURNAME,
PERSONNAME P NICKNAME,
ENTRY BIRTH,
BIRTH CHRONSTRUCT DATE,
BIRTH CHRONSTRUCT CHRONPROSE,
ENTRY RESIDENCEANDMOBILITY P,
ENTRY PRODUCTION P,
ENTRY CULTURALFORMATION P,
FAMILY P,
ENTRY RECEPTION,
ENTRY OCUPATION P /*,
ENTRY TEXTSCOPE*/
{
    display:block;
    margin-bottom:1em;
}

/*field labels:*/

GIVEN:before{
    content:"First Name:";
    display:inline-block;
    padding-right:0.5em

}
GIVEN + GIVEN{
    display:block
}
GIVEN + GIVEN:before{
    content:"Middle Name:";
    display:inline-block;
    padding-right:0.5em
}


SURNAME:before{
    content:"Last Name at Birth:";
    padding-right:0.5em
}
NICKNAME:before{
    content:"Nickname:";
    padding-right:0.5em
}

GENDER:before{
    content:"Gender:";
    padding-right:0.5em
}

/*DENOMINATION:first-of-type:before{
    content:"Religious Affiliation: ";
}*/



EDUCATION CHRONSTRUCT,
OTHERLIFEEVENT CHRONSTRUCT,
OCCUPATION CHRONSTRUCT,
RECEPTION CHRONSTRUCT,
EDUCATION DATASTRUCT,
OTHERLIFEEVENT DATASTRUCT,
OCCUPATION DATASTRUCT,
RECEPTION DATASTRUCT
{
    display:block
}



CHRONSTRUCT DATE,
CHRONSTRUCT DATERANGE{
    display:table-cell;
    width:9em; /*border:solid;*/
    padding-right:0%
}
CHRONPROSE{
    display:table-cell; /*border:solid
    ;*/
    line-height:150%
}
DATASTRUCT{ /*border:solid;*/
    width:auto;
    line-height:150%
}

TEXTSCOPE PRODUCTION P{
    display:block;
    padding-left:12em;
    padding-bottom:0%;
    margin-bottom:0%
}

/*OTHERLIFEEVENT CHRONSTRUCT DATE,
OTHERLIFEEVENT CHRONSTRUCT DATERANGE{
    padding-right:0%
}*/

/*OCCUPATION CHRONSTRUCT CHRONPROSE ORGNAME{
    padding-left:3%
}*/
BIRTH CHRONSTRUCT CHRONPROSE, 
BIRTH CHRONSTRUCT DATE{
    display:block; width:100%
}

TEXTUALFEATURES{
    padding-top:0%;
    margin-top:0%
}

TEXTUALFEATURES HEADING{
    padding-top:0%;
    margin-top:1em
}

TEXTUALFEATURES P{
    display:block;
}

/*TEXTSCOPE PRODUCTION{
    padding-top:0em;
    margin-top:0em
}*/



TITLE[LEVEL = "MONOGRAPHIC"]{
    font-style:italic
}

TITLE[LEVEL = "ANALYTIC"]:before{
    content:"\""
}
TITLE[LEVEL = "ANALYTIC"]:after{
    content:"\""
}

EMPH{
    font-style:italic
}
SOCALLED:before{
    content:"\""
}
SOCALLED:after{
    content:"\""
}
/*TITLE[LEVEL = "UNPUBLISHED"] EMPH:before{
    content:"\""
}
TITLE[LEVEL = "UNPUBLISHED"] EMPH:after{
    content:"\""
}*/
TITLE[LEVEL = "UNPUBLISHED"] EMPH{
    font-style:italic;
}

HEADING TITLE EMPH{
    color:brown
}
/*
PRODUCTION CHRONSTRUCT,
TEXTSCOPE PRODUCTION P{
    display:block;
    padding-left:5%
}*/

HEADING TITLE{
    display:inline;
    padding-top:1%;
    padding-bottom:1%;
    color:brown
}

TITLE[LEVEL = "MONOGRAPHIC"] TITLE[LEVEL = "MONOGRAPHIC"]{
    font-style:normal
}
