/*General, high level styling*/

*{
    color:black;
    font-family:sans-serif;
    background-color:#fdf8e5
}
:empty{
    display:none
}
RESEARCHNOTE{
    background-color:#FBEFEF;
    color:#663366;
    font-family:Arial, Helvetica, sans-serif;
    font-size:smaller;
    display:block;
    margin:0%;
    padding:0%
}


#comment{
    display:none

} /*check syntax*/

/*Header styling*/


CWRCHEADER,
FILEDESC,
DOCTITLE,
DOCAUTHOR
{
    display:list-item
}

FILEDESC{
    content:url(http://cwrc.ca/templates/images/CWRC_logo.png);
    background-color:#B8B891;
    color:#555;
    font-weight:normal;
}
DOCTITLE{
    font-variant:small-caps;
    font-size:x-large;
    font-weight:bold;
}
DOCAUTHOR{
    font-weight:bold
}
PUBLICATIONSTMT,
SOURCEDESC,
REVISIONDESC,
RESPONSIBILITY {display:none}

/*High-level body styling*/


DIV0,
DIV1,
DIV2,
DIV3,
HEADING,
P{
    display:block
}


/*Folds (Oxygen only)*/
DIV1{
    -oxy-foldable:true;
    -oxy-folded:true;
    -oxy-not-foldable-child:HEADING}

DIV2{
    -oxy-foldable:true;
    -oxy-folded:true;
    -oxy-not-foldable-child:HEADING}
/*End folds*/

DIV2{
    margin-left:3%
}
DIV3{
    margin-left:inherit
}

HEADING{
    font-weight:bold;
    padding-top:1em;
    color:brown
}

DIV0>HEADING{
    font-size:xx-large;
    content:url(mary-baldridge.jpg)
}
DIV1 HEADING{
    font-size:x-large;
}
DIV2 HEADING{
    font-size:large
}


/*Mid-level body styling*/

BIRTHNAME,
NICKNAME,
BIRTH,
NATIONALHERITAGE,
CULTURALFORMATION,
SEXUALITY,
NATIONALITY,
NATIONALHERITAGE,
DENOMINATION,
FAMILY,
INTIMATERELATIONSHIPS,
CHILDREN,
CHRONSTRUCT{
    display:block;
    padding:0%;
    margin:0%
}
DIV2 > SHORTPROSE > P{
    display:block;
    margin-left:3%
}
EDUCATION{
    display:block
}

SHORTPROSE{
    display:block
}



LG{
    display:block;
    margin-left:3%
}

TITLE{
    display:list-item;
    font-size:larger;
    font-style:italic;
}

CHRONSTRUCT DATERANGE{display:inline-block}
CHRONSTRUCT DATE{display:inline-block}
CHRONPROSE{display:inline-block;}


/*field labels:*/
BIRTH > CHRONSTRUCT > DATE:before{
    content:"Birth Date: ";
    color:red
}
BIRTH > CHRONSTRUCT > DATE:before{
    content:"Date of Birth: ";
    color:olive
}
BIRTH > CHRONSTRUCT > CHRONPROSE > PLACE:before{content:"Place of Birth: ";
color:olive}
 
PLACE:nth-of-type(2){content:"Raised: "; color:olive}
 
PLACE:nth-of-type(2){content:"Current Residence: : "; color:olive}
 
CULTURALFORMATION:before{content:"Gender: ";
color:olive}
 
SEXUALITY:before{content:"Sexual Orientation: ";
color:olive}
 
NATIONALITY:before{content:"Nationality: ";
color:olive}
 
NATIONALHERITAGE:before{content:"National / Ethnic Background: ";
color:olive}





