*{
    color:black;
    font-family:sans-serif;
    background-color:#FFFAF0
}

RESEARCHNOTE{
    background-color:#FBEFEF;
    color:#663366;
    font-family:Arial, Helvetica, sans-serif;
    font-size:smaller;
    display:block;
    margin:0%;
    padding:0%
}


#comment{
    display:none

}

CWRCHEADER,
FILEDESC,
DOCTITLE,
DOCAUTHOR
{
    display:list-item
}

FILEDESC{
    content:url(http://cwrc.ca/templates/images/CWRC_logo.png);
    background-color:#B8B891;
    color:#555;
    font-weight:normal;
}
DOCTITLE{
    font-variant:small-caps;
    font-size:x-large;
    font-weight:bold;
}
DOCAUTHOR{
    font-weight:bold
}
PUBLICATIONSTMT,
SOURCEDESC,
REVISIONDESC,
RESPONSIBILITY{
    display:none
}

ENTRY{
    display:block;
    margin-left:3%
}

HEADING[SUBTYPE = "4"], 
FAMILYMEMBER[RELATION = "MOTHER"] CHRONPROSE
FAMILYMEMBER[RELATION = "FATHER"] CHRONPROSE
{
    font-weight:bold;
    display:block;
    font-size:medium;
}

P{padding-bottom:1%}

HEADING[SUBTYPE = "1"]{
    color:black;
    font-size:xx-large;
    font-weight:bold
}

BIRTH:before{
    content:"Birth: ";
    font-weight:bold
}

BIRTH,
DEATH,
PERSONNAME{
    display:block
}

PERSONNAME DATASTRUCT DATAITEM{display:block}

BIRTHNAME GIVEN{padding-right:1em}

DEATH:before{
    content:"Death: ";
    font-weight:bold
}

HEADING[SUBTYPE = "5"]{
    display:inline;
    font-weight:bold
}

HEADING[SUBTYPE = "2"]{
    display:block;
    font-size:x-large;
    font-weight:bold;
    padding-top:1em;
    padding-bottom:1em
}

FRONT P{
    display:block;
    font-style:italic;
}
AUTHORSUMMARY P{display:block}

FRONT P + P{
    display:block;
    text-align:right;
    padding-right:2em;
    font-style:normal
}

HEADING[SUBTYPE = "3"]{
    display:block;
    font-size:large;
    font-weight:bold;
    padding-top:0.5em;
    padding-bottom:0.5em
}

HEADING[SUBTYPE = "2"] + HEADING[SUBTYPE = "3"]{padding-top:0em}




LISTBIBCIT BIBCIT{
    display:block;
    padding-left:2%;
    padding-bottom:0.5em
}

TITLE[LEVEL = "MONOGRAPHIC"]{font-style:italic}
TITLE[LEVEL = "ANALYTIC"]:before{content:"&quot;"}
TITLE[LEVEL = "ANALYTIC"]:after{content:"&quot;"}

FAMILYMEMBER{
    display:block
}

FAMILYMEMBER P{
    display:block
}

FAMILYMEMBER[RELATION = "FATHER"] HEADING:before{
    content:"Father: ";
    font-weight:bold
}

FAMILYMEMBER[RELATION = "MOTHER"] HEADING:before{
    content:"Mother: ";
    font-weight:bold
}

FAMILYMEMBER[RELATION = "FATHER"],
FAMILYMEMBER[RELATION = "MOTHER"]{padding-bottom:1em}

FAMILYMEMBER[RELATION = "FATHER"] CHRONSTRUCT DATERANGE,
FAMILYMEMBER[RELATION = "MOTHER"] CHRONSTRUCT DATERANGE{
    display:block;
    font-weight:bold;
    font-size:medium;
    color:green
}

FAMILYMEMBER[RELATION = "FATHER"] CHRONSTRUCT CHRONPROSE,
FAMILYMEMBER[RELATION = "MOTHER"] CHRONSTRUCT CHRONPROSE{
    display:block;
}

EDUCATION CHRONSTRUCT,
RECEPTION CHRONSTRUCT,
OCCUPATION CHRONSTRUCT,
RESIDENCEANDMOBILITY CHRONSTRUCT{
    display:block
}

EDUCATION CHRONSTRUCT DATERANGE{
    display:inline-block;
    padding-right:5em
}

EDUCATION CHRONSTRUCT CHRONSPROSE{
    display:inline-block
}
AUTHORSUMMARY:nth-of-type(1){display:block; padding:1em; padding-left:15%; padding-right:15%;text-align:center}





