/* icons employed: 
W3 Creative Lab - Creative Commons (Attribution 3.0 Unported)
Popcic - free for commercial use
*/
teiHeader,
title,
resp,
publisher,
availability,
sourceDesc{
    display:block;
}
publisher:before{content:"Publisher: "}
teiHeader{margin-top:1.5%; padding-top:1.5%; margin-left:3%; margin-right:3%; padding-bottom:1.5%; background-color:#FFFFE0}
text{
    display:block;
    margin-left:3%;
    margin-right:3%;
    padding-top:1.5%;
    padding-bottom:3%;
    font-family:sans-serif;
    line-height:1.5;
    background-color:#EBF5FF
}
event{
    display:block
}

label,
head{
    display:block;
    margin-top:2%;
    font-weight:bold;
    font-size:larger
}

desc + desc,
p{
    display:block;
    margin-top:1%;
    margin-bottom:1%
}

date,
placeName{
    font-style:italic
}

langUsage:before{content:"Language(s) of the file: "}

note[type = "researchNote"]{
    display:inline;
    font-family:courier, fixed, monospace;
    font-style:normal;
    font-size:smaller

}

note[type = "scholarNote"],
listBibl{
    display:block;
    font-size:smaller;
    margin-bottom:1%

}

note[type = "scholarNote"]{
    margin-left:5%
}

bibl note[type = "researchNote"]{
    font-size:small
}

bibl{
    display:list-item;
    list-style-image:url(http://cwrc.ca/templates/images/TEI-bibl.jpg);
    list-style-position:inside
}

note[type = "researchNote"]:before{
    content:url(http://cwrc.ca/templates/images/TEI-info-RN.jpg);
    padding-left:1em;
    padding-right:0.5em
}
note[type = "scholarNote"]:before{
    content:url(http://cwrc.ca/templates/images/TEI-note-SN.jpg);
    padding-right:0.5em
}
note[type = "keyword"]:before{
    content:url(http://cwrc.ca/templates/images/TEI-keyword.jpg);
    padding-right:0.5em
}