TEI{display:block;margin:5%; font-family:sans-serif}
teiHeader{display:none}
head{display:block; font-size:x-large; font-weight:bold; padding-bottom:3%}
item{display:block; padding-top:1%}
label{font-weight:bold}
rs:before{content:" ("}
rs:after{content:") "}
rs{font-style:italic}
gloss{display:block; padding-top:0%; margin-top:0%; margin-left:5%}