CWRC{
    color:black;
    font-family:sans-serif;
    background-color:#fffcf5
}

RESEARCHNOTE{
    background-color:#fffcf5;
    color:#663366;
    font-size:smaller;
    text-align:center;
    display:block;
    margin-left:8em;
    margin-right:8em;
    padding:1em
}


#comment{
    display:none

}

CWRCHEADER,
FILEDESC,
DOCTITLE,
DOCAUTHOR
{
    display:none
}



DOCTITLE{
    font-variant:small-caps;
    font-size:x-large;
    font-weight:bold;
}
DOCAUTHOR{
    font-weight:bold
}
PUBLICATIONSTMT,
SOURCEDESC,
REVISIONDESC,
RESPONSIBILITY,
LANG,
KEYWORDS{
    display:none
}


ENTRY{
    display:block;
    margin-left:2.5em
}

ENTRY FRONT DATASTRUCT DATAITEM + DATAITEM 
{
    display:compact;
    font-size:smaller;
    text-align:center
}

ENTRY FRONT DATASTRUCT DATAITEM FIGURE
{
    display:block;
    text-align:center;
    border:thin solid white;
    margin:0.5em;
    padding:0.5em;
    max-width:480px
}


P 
{
    padding-bottom:1%;
    display:block;
    margin-left:2em;
    margin-right:1em
}


FRONT P
{
    display:block;
    font-style:italic;
}


FRONT P + P
{
    font-size:smaller;
    display:block;
    text-align:right;
    padding-left:2em;
    padding-right:2em;
    font-style:normal
}

FIGURE
{
    text-align:center;
    display:block;
    margin:0.5em;
    padding:0.5em  
}




HEADING[SUBTYPE = "1"]
{
    text-align:center;
    font-size:xx-large;
    font-weight:bold;
    color:#7c1a0f;
    padding-top:0.5em;
    padding-bottom:0.5em;
    display:block
}

HEADING[SUBTYPE = "2"],
HEADING[SUBTYPE = "2"] NAME
{
    font-weight:bold;
    color:#7c1a0f;
    display:inline-block;
    font-size:x-large;
    font-weight:bold;
    padding-top:1em;
    padding-bottom:1em
}

HEADING[SUBTYPE = "3"]
{
    display:block;
    font-size:large;
    font-weight:bold;
    padding-top:0.5em;
    padding-bottom:0.5em
}

HEADING[SUBTYPE = "2"] + HEADING[SUBTYPE = "3"]{
    padding-top:0em
}

HEADING[SUBTYPE = "4"]
{
    font-weight:bold;
    display:block;
    font-size:medium;
}

HEADING[SUBTYPE = "5"]
{
    display:inline;
    font-weight:bold
}




AUTHORSUMMARY P
{
    display:block
}

AUTHORSUMMARY P:first-child
{
    font-size:medium;
    text-align:center;
    display:block;
    border:solid;
    padding:3mm;
    border-radius:2mm;
    border-width:0.4mm;
    border-color:#7c1a0f
}

AUTHORSUMMARY:nth-of-type(1)
{
    font-size:smaller;
    display:block; 
    padding:1em; 
    padding-left:15%; 
    padding-right:15%;
    text-align:center
    }
    

AUTHORSUMMARY PERSONNAME DATASTRUCT DATAITEM:first-child
{
    display:inline-block
}

PERSONNAME DATASTRUCT DATAITEM
{
    display:block;
    margin-left:2em
}

BIRTH:before
{
    content:"Birth: ";
    font-weight:bold
}

BIRTH,
DEATH,
PERSONNAME
{
    display:block;
    padding-top:1em
}

DEATH:before
{
    content:"Death: ";
    font-weight:bold
}







LISTBIBCIT BIBCIT
{
    display:block;
    margin-left:4em;
    text-indent:-2em;
    padding-bottom:0.5em
}

TITLE[LEVEL = "MONOGRAPHIC"]{font-style:italic}
TITLE[LEVEL = "JOURNAL"]{font-style:italic}
TITLE[LEVEL = "UNPUBLISHED"]{font-style:italic}
TITLE[LEVEL = "ANALYTIC"]:before, TITLE[LEVEL = "ANALYTIC"]:after{content:'"'}

FAMILYMEMBER
{
    display:block
}

FAMILYMEMBER[RELATION = "FATHER"] HEADING:before
{
    content:"Father: ";
    font-weight:bold
}

FAMILYMEMBER[RELATION = "MOTHER"] HEADING:before
{
    content:"Mother: ";
    font-weight:bold
}

FAMILYMEMBER[RELATION = "HUSBAND"] HEADING:first-child:before
{
    content:"Spouse: ";
    font-weight:bold
}

FAMILYMEMBER[RELATION = "FATHER"] CHRONSTRUCT,
FAMILYMEMBER[RELATION = "MOTHER"] CHRONSTRUCT
{
    display:inline-block;
    padding-bottom:1em;
    padding-top:1em
}

FAMILYMEMBER[RELATION = "MOTHER"] CHRONPROSE,
FAMILYMEMBER[RELATION = "FATHER"] CHRONPROSE
{
    font-weight:bold;
    display:inline-block;
    font-size:medium;
}


FAMILYMEMBER[RELATION = "FATHER"] CHRONSTRUCT DATERANGE
FAMILYMEMBER[RELATION = "MOTHER"] CHRONSTRUCT DATERANGE
{
    font-weight:normal;
    display:inline-block;
    font-size:medium
}

FAMILYMEMBER[RELATION = "FATHER"] CHRONSTRUCT DATE
FAMILYMEMBER[RELATION = "MOTHER"] CHRONSTRUCT DATE
{
    font-weight:normal;
    display:inline-block;
    font-size:medium
}


FAMILYMEMBER[RELATION = "MOTHER"] DATASTRUCT,
FAMILYMEMBER[RELATION = "FATHER"] DATASTRUCT
{
    display:block;
    font-weight:bold;
    font-size:medium;
    padding-bottom:1em
}

FAMILYMEMBER[RELATION = "MOTHER"] DATAITEM NAME,
FAMILYMEMBER[RELATION = "FATHER"] DATAITEM NAME
{
    font-weight:bold;
    display:inline-block;
    font-size:medium
}

EDUCATION P,
RECEPTION P,
OCCUPATION P,
OTHERLIFEEVENT P,
RESIDENCEANDMOBILITY P
AWARDS P
{
   display:block;
   margin-left:2em; 
   padding-right:5em
}

FAMILY HEADING[SUBTYPE = "4"]
{
    padding-top:1em    
}

FAMILYMEMBER[RELATION = "HUSBAND"] HEADING[SUBTYPE = "5"]
{
    display: inline-block;
    font-weight: bold;
    margin-left: 2em;
    margin-bottom: 1em;
}

FAMILYMEMBER[RELATION = "HUSBAND"] CHRONSTRUCT:first-child
{
    font-weight:bold;
    display:block;
    font-size:medium;
    margin-bottom:1em;
    padding-top:1em
}

FAMILYMEMBER[RELATION = "HUSBAND"] CHRONSTRUCT DATERANGE
{
    font-weight:normal
}

FAMILYMEMBER[RELATION = "HUSBAND"] CHRONSTRUCT DATE
{
    font-weight:normal
}

FAMILYMEMBER[RELATION = "SIBLING"] CHRONSTRUCT,
FAMILYMEMBER[RELATION = "BROTHER"] CHRONSTRUCT,
FAMILYMEMBER[RELATION = "SISTER"] CHRONSTRUCT,
FAMILYMEMBER[RELATION = "DAUGHTER"] CHRONSTRUCT,
FAMILYMEMBER[RELATION = "SON"] CHRONSTRUCT,
FAMILYMEMBER[RELATION = "STEPSON"] CHRONSTRUCT,
FAMILYMEMBER[RELATION = "STEPDAUGHTER"] CHRONSTRUCT
{
    padding-top:1em;
    display:block;
    margin-left:2em;
    font-weight:normal
}


FAMILYMEMBER[RELATION = "SIBLING"] P,
FAMILYMEMBER[RELATION = "BROTHER"] P,
FAMILYMEMBER[RELATION = "SISTER"] P,
FAMILYMEMBER[RELATION = "DAUGHTER"] P,
FAMILYMEMBER[RELATION = "SON"] P,
FAMILYMEMBER[RELATION = "STEPSON"] P,
FAMILYMEMBER[RELATION = "STEPDAUGHTER"] P
{
    padding-top:1em;
    display:block;
    margin-left:2em;
    padding-bottom:0
}

FAMILYMEMBER[RELATION = "SIBLING"] DATASTRUCT,
FAMILYMEMBER[RELATION = "BROTHER"] DATASTRUCT,
FAMILYMEMBER[RELATION = "SISTER"] DATASTRUCT,
FAMILYMEMBER[RELATION = "DAUGHTER"] DATASTRUCT,
FAMILYMEMBER[RELATION = "SON"] DATASTRUCT,
FAMILYMEMBER[RELATION = "STEPSON"] DATASTRUCT,
FAMILYMEMBER[RELATION = "STEPDAUGHTER"] DATASTRUCT
{
    padding-top:1em;
    display:block;
    margin-left:2em
}


FAMILYMEMBER[RELATION = "SIBLING"] HEADING[SUBTYPE = "4"],
FAMILYMEMBER[RELATION = "BROTHER"] HEADING[SUBTYPE = "4"],
FAMILYMEMBER[RELATION = "SISTER"] HEADING[SUBTYPE = "4"],
FAMILYMEMBER[RELATION = "DAUGHTER"] HEADING[SUBTYPE = "4"],
FAMILYMEMBER[RELATION = "SON"] HEADING[SUBTYPE = "4"],
FAMILYMEMBER[RELATION = "STEPSON"] HEADING[SUBTYPE = "4"],
FAMILYMEMBER[RELATION = "STEPDAUGHTER"] HEADING[SUBTYPE = "4"]
{
    padding-top:1em;
    display:block;
    margin-left:2em
}

CULTURALFORMATION RELIGION DENOMINATION
{
   display:block;
   margin-left:2em; 
   padding-right:5em;
   padding-bottom:1em
}

AWARDS RECEPTION P
{
   display:block;
   margin-left:2em; 
   padding-right:5em
}

EMPH
{
    font-style:italic
}

OTHERLIFEEVENT DATASTRUCT 
{
     display:block
}

OTHERLIFEEVENT DATASTRUCT DATAITEM
{
    display:block;
    margin-left:2em
}

